<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button mat-raised-button color="primary" (click)="goBackHome()" >
  Home
  &nbsp; &nbsp; 
  <mat-icon>home</mat-icon> 
  &nbsp;    
</button>
&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
  &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp; 
  
  
    <button mat-raised-button color="primary" (click)="goBack()" >
      <mat-icon>keyboard_backspace</mat-icon> 
      &nbsp;&nbsp; Go Back   
    </button>
  
    <br>  &nbsp;&nbsp;&nbsp;
<mat-form-field>
      <mat-label>Time Range</mat-label>
      <mat-select  [(value)]="selected" (selectionChange)="findChartData($event)">
        <mat-option>None</mat-option>
        <mat-option value="1">Last 1 Hour</mat-option>
        <mat-option value="24">Last 24 Hours</mat-option>
        <mat-option value="7">Last 7 Days</mat-option>
      </mat-select>
  </mat-form-field>
  &nbsp;&nbsp;&nbsp;
  
  <label class="container"> 
    <input type="checkbox" [(ngModel)]="isChecked"  data-md-icheck (change)="toggleVisibility_1(isChecked?1:'A')"/>
    Last 1 Hour SMA 
  </label>&nbsp;&nbsp;
  
  <label class="container"> 
    <input type="checkbox" [(ngModel)]="theCheckbox1"  data-md-icheck (change)="toggleVisibility_1(theCheckbox1?24:'B')"/>
    Last 24 Hour SMA 
  </label>
    
  
 

  <br>
<h2>&nbsp;&nbsp;{{ title }}</h2>
<svg width="960" height="500"></svg>

